<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UsersRegistrationAction</servlet-name>
  	<display-name>UsersRegistrationAction</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.UsersRegistrationAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherRegistrationCtl</servlet-name>
  	<display-name>TeacherRegistrationCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.TeacherRegistrationCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCtl</servlet-name>
  	<display-name>LoginCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.LoginCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudentCtl</servlet-name>
  	<display-name>UpdateStudentCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.UpdateStudentCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTeacherCtl</servlet-name>
  	<display-name>UpdateTeacherCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.UpdateTeacherCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCtl</servlet-name>
  	<display-name>DeleteCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.DeleteCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubjectsCtl</servlet-name>
  	<display-name>AddSubjectsCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.AddSubjectsCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSubjectCtl</servlet-name>
  	<display-name>DeleteSubjectCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.DeleteSubjectCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudentListCtl</servlet-name>
  	<display-name>UpdateStudentListCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.UpdateStudentListCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeacherCtl</servlet-name>
  	<display-name>AddTeacherCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.AddTeacherCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTeacherCtl</servlet-name>
  	<display-name>DeleteTeacherCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.DeleteTeacherCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTeacherListCtl</servlet-name>
  	<display-name>UpdateTeacherListCtl</display-name>
  	<description></description>
  	<servlet-class>adminportal.controller.UpdateTeacherListCtl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UsersRegistrationAction</servlet-name>
  	<url-pattern>/UsersRegistrationAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherRegistrationCtl</servlet-name>
  	<url-pattern>/TeacherRegistrationCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCtl</servlet-name>
  	<url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudentCtl</servlet-name>
  	<url-pattern>/UpdateStudentCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTeacherCtl</servlet-name>
  	<url-pattern>/UpdateTeacherCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCtl</servlet-name>
  	<url-pattern>/DeleteCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubjectsCtl</servlet-name>
  	<url-pattern>/AddSubjectsCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSubjectCtl</servlet-name>
  	<url-pattern>/DeleteSubjectCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudentListCtl</servlet-name>
  	<url-pattern>/UpdateStudentListCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacherCtl</servlet-name>
  	<url-pattern>/AddTeacherCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTeacherCtl</servlet-name>
  	<url-pattern>/DeleteTeacherCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTeacherListCtl</servlet-name>
  	<url-pattern>/UpdateTeacherListCtl</url-pattern>
  </servlet-mapping>
</web-app>
